# Configurações gerais
aws_region = "us-east-1"
ttl_dns    = 60

# Nome do aluno e domínio
nome_aluno   = "nome_aluno"
nome_dominio = "lab.tonanuvem.com"

# Senha compartilhada para autenticação na API
senha_compartilhada = "senha123"

# Variáveis do módulo API Gateway
api_gateway_nome_aluno   = "nome_aluno"
api_gateway_nome_dominio = "lab.tonanuvem.com"
api_gateway_tags = {
  Projeto    = "Gerenciador DNS"
  Ambiente   = "laboratorio"
  Gerenciado = "terraform"
}

# Variáveis do módulo Frontend
frontend_nome_aluno   = "nome_aluno"
frontend_nome_dominio = "lab.tonanuvem.com"
frontend_tags = {
  Projeto    = "Gerenciador DNS"
  Ambiente   = "laboratorio"
  Gerenciado = "terraform"
}

# Tags padrão para todos os recursos
tags = {
  Projeto    = "Gerenciador DNS"
  Ambiente   = "laboratorio"
  Gerenciado = "terraform"
}

# Configurações do Route 53
id_zona_hospedada = ""  # Será preenchido automaticamente pelo script de configuração 